footer.main-footer.d-none.d-sm-block
  small
    strong
      | Thinking HOME 
    | · 
    | Copyright &copy; 2019-#{new Date().getFullYear()} 
    | · 
    = __('All rights reserved')
    .float-right.d-sm-block
      b
        = __('Version:')
      |  0.2.10
