footer.main-footer
  .float-right.d-none.d-sm-block
    b Version:
    |  1.0.0
  strong
    | Copyright &copy; 2020-#{new Date().getFullYear()} 
  | · All rights reserved

aside.control-sidebar.control-sidebar-dark