footer.main-footer.d-none.d-sm-block
  small
    strong
      | Thinking HOME 
    | · Copyright &copy; 2019-#{new Date().getFullYear()} 
    | · All rights reserved
    .float-right.d-sm-block
      b Version:
      |  0.2.10
