head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible",content="IE=edge")
  title= title + " · Thinking HOME"
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/plugins/fontawesome-free/css/all.min.css', type='text/css' )
  link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css', type='text/css' )
  link(rel='stylesheet', href='/dist/css/adminlte.min.css', type='text/css' )
  link(rel='stylesheet', href='/plugins/toastr/toastr.min.css', type='text/css' )
  link(rel='stylesheet', href='/thinkinghome/css/thinkinghome.css', type='text/css' )
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700', type='text/css' )
