aside.main-sidebar.sidebar-dark-primary.elevation-4.sidebar-dark-warning
  a.brand-link.navbar-orange(href='/')
    img.brand-image.img-circle.elevation-3(src='/logo128.png' alt='Logo' style='opacity: .8')
    span.brand-text.font-weight-light Thinking HOME
  .sidebar#sidebar
    nav.mt-2
      ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview' role='menu' data-accordion='false')
        li.nav-item
          a.nav-link(href='/')
            i.nav-icon.fas.fa-tachometer-alt
            p
              = __('Start page')

        li.nav-header
          = __('SYSTEM')
          - var platformwarningcount = runningContext.GetWarningOrErrorPlatformCount()
          li.nav-item
            a.nav-link(href='/platform')
              i.nav-icon.fas.fa-rss(class=platformwarningcount ? "text-warning" : "")
              p
                = __('Platforms')
                if (platformwarningcount)
                  span.badge.badge-warning.right
                    = platformwarningcount


          - var anyrulecodeerror = runningContext.GetAnyRuleCodeExecutorMessage()
          li.nav-item
            a.nav-link(href='/rulecode/list')
              i.nav-icon.fa.fa-code(class=anyrulecodeerror ? "text-danger" : "")
              p
                = __('Rules')
                if (anyrulecodeerror)
                  span.badge.badge-danger.right !

          li.nav-item
            a.nav-link(href='/settings')
              i.nav-icon.fas.fa-wrench
              p
                = __('Settings')

        li.nav-header
          = __('USER')
          li.nav-item
            a.nav-link(href='/logout')
              i.nav-icon.fas.fa-lock
              p
                = __('Logout')
