script(src='/plugins/jquery/jquery.min.js')
script(src='/plugins/bootstrap/js/bootstrap.bundle.min.js')
script(src='/plugins/toastr/toastr.min.js')
script(src='/plugins/flot/jquery.flot.js')
script(src='/plugins/flot-old/jquery.flot.resize.min.js')
script(src='/plugins/flot-old/jquery.flot.time.min.js')
script(src='/dist/js/adminlte.min.js')
script(src='/dist/js/demo.js')
script(src='/smarthome/js/smarthome.js')
script(src='/smarthome/js/websocket.js')
