script(src='/plugins/jquery/jquery.min.js')
script(src='/plugins/jquery-ui/jquery-ui.min.js')
script(src='/plugins/bootstrap/js/bootstrap.bundle.min.js')
script(src='/plugins/toastr/toastr.min.js')
script(src='/thinkinghome/plugins/jquery-knob/jquery.knob2.js')
//script(src='https://code.iconify.design/1/1.0.7/iconify.min.js')
//script(src='/plugins/flot/jquery.flot.js')
//script(src='/plugins/flot-old/jquery.flot.resize.min.js')
//script(src='/plugins/flot-old/jquery.flot.time.min.js')
script(src='/thinkinghome/js/common.js')
script(src='/mousetrap/mousetrap.min.js')
script(src='/clipboard/clipboard.min.js')
script(src='/sweetalert2/sweetalert2.all.min.js')
