########################
# APP specific options #
########################

# APP config
config*.js

# Firewall blocked IPs
*.ips

# Backup
backup

# Backup extended data
backupex/*
!backupex/readme.md


###################
# General options #
###################

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# VScode runtime config
.vscode
