const config = {}

config.database = {}
config.mqtt = {}
config.web = {}
config.web.ssl = {}
config.brainserver = {}
config.tunnelserver = null

config.database.server = process.env.DATABASE_SERVER || 'localhost'
config.database.port = process.env.DATABASE_PORT || '3306'
config.database.username = process.env.DATABASE_USERNAME || 'th'
config.database.password = process.env.DATABASE_PASSWORD || 'th1234'
config.database.schema = process.env.DATABASE_SCHEMA || 'ThinkingHome'

config.mqtt.server = process.env.MQTT_SERVER || 'localhost'
config.mqtt.port = process.env.MQTT_PORT || '1883'
config.mqtt.username = process.env.MQTT_USERNAME || 'th'
config.mqtt.password = process.env.MQTT_PASSWORD || 'th1234'
config.mqtt.clientid = process.env.MQTT_CLIENTID || 'ThinkingHome'

config.web.port = process.env.WEB_PORT || '80'
config.web.ssl.port = process.env.WEB_SSL_PORT || '443'
config.web.ssl.key = process.env.WEB_SSL_KEY || 'privkey.pem'
config.web.ssl.cert = process.env.WEB_SSL_CERT || 'cert.pem'
config.web.ssl.ca = process.env.WEB_SSL_CA || 'chain.pem'

config.brainserver.server = process.env.BRAIN_SERVER || 'domain.tld'
config.brainserver.checkservice = process.env.BRAIN_CHECK || 'check'
config.brainserver.checkdyndnsremote = process.env.BRAIN_CHECKDYNDNSREMOTE || '/checkdyndnsremote'
config.brainserver.checktunnelremote = process.env.BRAIN_CHECKTUNNELREMOTE || '/checktunnelremote'
config.brainserver.backupservice = process.env.BRAIN_BACKUP || 'backup'
config.brainserver.dyndnsservice = process.env.BRAIN_DYNDNS || 'dyn'
config.brainserver.ttsservice = process.env.BRAIN_TTS || 'tts'

config.tunnelserver = process.env.TUNNEL_SERVER || 'tunnel.domain.tld'

module.exports = config
