doctype html
html(lang='en')

  include includes/head.pug

  body.hold-transition.sidebar-mini.sidebar-collapse
    div.wrapper
      include includes/navbar.pug
      include includes/leftmenu.pug

      .content-wrapper
        section.content-header
          .container-fluid
            .row.mb-2
              .col-sm-12
                h1= title
        
        section.content
          block content
        
        a#back-to-top.btn.btn-primary.back-to-top(href='#', role='button', aria-label='Oldal tetejére')
          i.fas.fa-chevron-up

      include includes/footer.pug
    include includes/scripts.pug
