doctype html
html(lang='en')

  include includes/head.pug

  body.hold-transition.sidebar-mini.sidebar-collapse
    include includes/scripts.pug
    .wrapper
      include includes/navbar.pug
      include includes/leftmenu.pug

      .content-wrapper#content-wrapper
        section.content
          block content

      include includes/footer.pug
    include includes/latescripts.pug
    script(src='/thinkinghome/js/websocket.js')
