extends _base

block content
  each component, key in capabilitycomponents
    .row
      .col-md-12
        .card.card-lightblue
          .card-header
            h3.card-title
              = key.toUpperCase()
          .card-body
            .row
              .col-md-2
                h1
                  = (ctxdevice.stat(key) || "?").toUpperCase()
              .col-md-10
                if component
                  each command in component
                    button.btn.btn-lg.btn-success(onclick="$.post('/device/" + device.Name + "/" + key + "/" + command + "');")
                      = command.toUpperCase()

  .row
    .col-md-4
      .card.card-info
        .card-header
          h3.card-title Status
            small
              if devicesys
                =" · "
                = moment(devicesys.DateTime).fromNow()
        .card-body
          if !devicesys
            | Not arrived yet...
          else
            each devicesysitem in devicesys.Items
              .row
                .col-sm-4
                  = devicesysitem.Name
                .col-sm-8
                  b
                    = devicesysitem.Value
                  if (devicesysitem.SubValue)
                    small
                      = devicesysitem.SubValue
                  if (devicesysitem.ValueLink)
                    small
                      a(target='_blank' href=devicesysitem.ValueLink) 
                        i.fa.fa-external-link-alt
    .col-md-4
      .card.card-warning
        .card-header
          h3.card-title Last events
        .card-body
          if !devicelastevents
            | No events
          else
            each devicelastevent in devicelastevents
              .row
                .col-sm-6
                  .badge.badge-info
                    = devicelastevent.Event
                .col-sm-6
                  b
                    = devicelastevent.Data
                  br
                  small
                    = moment(devicelastevent.DateTime).fromNow()
    .col-md-4
      .card.card-secondary
        .card-header
          h3.card-title MQTT Capability
        .card-body
          if !devicecapabilities
            | Cannot determine yet...
          else
            each devicecapability in devicecapabilities
              .row
                .col-md-4
                  = devicecapability.Value
                .col-md-8
                  if devicecapability.Items
                    | &nbsp;&nbsp;
                    each devicecapitem in devicecapability.Items
                      span.badge.badge-info
                        = devicecapitem
                      | &nbsp;&nbsp;

