doctype html
html(lang='en')

  include includes/head.pug

  body.hold-transition.login-page
    .login-box
      .login-logo
        img.brand-image.img-circle.elevation-2(src='/logo128.png', width='32', alt='Logo', style='opacity: .8')
        p
          | Thinking 
          b
            | HOME
      .card#card
        .card-body.login-card-body
          p.login-box-msg Log in to access home devices NOW
          .input-group.mb-3
            input.form-control(type='text', placeholder='Username', onkeydown='if (event.keyCode == 13) login()')#username
            .input-group-append
              .input-group-text
                span.fas.fa-user
          .input-group.mb-3
            input.form-control(type='password', placeholder='Password', onkeydown='if (event.keyCode == 13) login()')#password
            .input-group-append
              .input-group-text
                span.fas.fa-lock
          center
            button.btn.btn-primary.btn-blockx(type='button', onclick='login()') Log In

    include includes/scripts.pug
    script(src='/plugins/jquery-ui/jquery-ui.min.js')
    script(type='text/javascript').
      function login()
      {
        var username = $('#username').val();
        var password = $('#password').val();
        $.post('/login', { username: username, password: password}, 'json')
        .done(function() {
          window.location = "/";
        })
        .fail(function() {
          $('#password').val('');
          $('#card').effect('shake');
          $('#password').focus();
        })
      }
      setTimeout(function() {
        if ($('#username').val())
          $('#password').focus();
        else
          $('#username').focus();
      }, 250);