extends _base

block content
  .row
    != panels

  script(type='text/javascript')
    | subscribes = {
    each visibledevice in visibledevices
      = visibledevice
      | : "content-wrapper",
    | };
