extends _base

block content
  section.content-header
    .container-fluid
      h4
        | Rules log
        small
          | 
          | (last
          | 
          = limit
          | 
          | lines)

  .row
    .col-md-10.offset-md-1
      .card
        .card-body.table-responsive.p-0
          table.table.table-hover.text-nowrap
            thead
              tr
                th Time
                th Topic
                th Message
            tbody
              each rulecodelog in rulecodelogs
                tr
                  td(width="10%", title=rulecodelog.DateTime)
                    = dayjs(rulecodelog.DateTime).fromNow()
                  td.monospace
                    = rulecodelog.Topic
                  td.monospace
                    = rulecodelog.Message

  script(type='text/javascript')
    | subscribes = { rulecodelog : "content-wrapper" }
