extends _base

block content
  section.content-header
    .container-fluid
      h4
        | Rules log
        if rulecode
          |  for 
          = rulecode.displayname
        small
          | 
          | (last
          | 
          = limit
          | 
          | lines)

  .row
    .col-md-10.offset-md-1

      each rulecodeloggroup, index in rulecodeloggroups
        .timeline
          .time-label
            span.bg-red
              = index.replace(dayjs().format("YYYY-MM-DD"), 'Today')

          each rulecodelog in rulecodeloggroup
            div
              i.fas.fa-code.bg-green
              .timeline-item
                span.time
                  = dayjs(rulecodelog.DateTime).format("HH:mm:ss")
                h3.timeline-header.no-border
                  small
                    = dayjs(rulecodelog.DateTime).format("HH:mm:ss")
                  br
                  if !rulecode
                    b
                      | [
                      = rulecodelog.RuleCodeName
                      | ]
                      | 
                      small
                        | 
                        = rulecodelog.Message
                  else
                    = rulecodelog.Message
          div
            i.fas.fa-clock.bg-gray

  script(type='text/javascript')
    | subscribes = { rulecodelog : "content-wrapper" }
