extends _base

block content
  section.content-header
    .container-fluid
      h1= title

  .row
    .col-md-12
      button.btn.btn-primary.float-right(onclick="save()")
        i.fa.fa-upload
        |  Save settings
  br
  form#form
    .row
      .col-md-4
        .card.card-warning
          .card-header
            h3.card-title GeoLocation
            .card-tools
              button.btn.btn-default.btn-xs(onclick="geodetect();return false;")
                i.fa.fa-map-signs
                |  Detect 
          .card-body
            .row
              .col-sm-6
                .form-group
                  label Latitude
                  input.form-control(type='text', name='latitude', value=systemsettings.Latitude)#latitude
              .col-sm-6
                .form-group
                  label Longitude
                  input.form-control(type='text', name='longitude', value=systemsettings.Longitude)#longitude
      .col-md-3
        .card.card-warning
          .card-header
            h3.card-title OpenWeatherMap
            .card-tools
              button.btn.btn-default.btn-xs(onclick="checkopenweathermap();return false;")
                i.fa.fa-check
                |  Check
          .card-body
            .row
              .col-sm-12
                .form-group
                  label API key
                  input.form-control(type='text', name='openweathermapapikey', value=systemsettings.OpenweathermapApiKey)#openweathermapapikey
    
  script(type='text/javascript').
    function geodetect()
    {
      if (navigator.geolocation)
      {
        navigator.geolocation.getCurrentPosition(function(position)
        {
          $('#latitude').val(position.coords.latitude.toFixed(6));
          $('#longitude').val(position.coords.longitude.toFixed(6));
        });
      }
      else
      {
        alert("Geolocation is not supported by this browser.");
      }
    }

    function checkopenweathermap()
    {
      var latitude = $('#latitude').val();
      var longitude = $('#longitude').val();
      var apikey = $('#openweathermapapikey').val();
      
      if (!apikey)
        return;
        
      $.post("/settings/settings/checkopenweatherapikey", { apikey: apikey, latitude: latitude, longitude: longitude })
        .done(function(data) {
          swal({
            icon: 'success',
            title: 'API key is OK',
            text: 'Detected timezone: ' + data,
          });
        })
        .fail(function(response)
        {
          swal({
            icon: 'error',
            title: 'API key is wrong',
            text: response.responseText,
          });
        })
    }

    function save()
    {
      var formdata = $('#form').serialize();
      $.post('/settings/settings/update', formdata)
        .done(function()
        {
          window.location.href = "/";
        })
        .fail(function(response)
        {
          swal({
            icon: 'error',
            title: 'Save settings failed',
            text: response.responseText,
          });
        })
    }
    