extends _base

block content
  section.content-header
    .container-fluid
      h1= title

  if (runerrorstack)
    .row
      .col-md-8
        .alert.alert-danger
          h5
            i.icon.fas.fa-exclamation-triangle
            p !{runerrorstack.replace(/\n/g, '<br/>')}

  .row
    .col-md-8
      button.btn.btn-primary.float-right(onclick="savecode()")
        i.fa.fa-upload
        |  Upload rules
    .col-md-4
      a.btn.btn-default(href="/settings/rulecode/loglist", target="_blank")
        i.fa.fa-list
        |  Show logs
  br

  .row
    .col-md-8
      .form-group
        textarea.form-control.monospace(rows=rulecodelinecount)#codeeditor
          = rulecode

    .col-md-4

      .card.card-outline.card-primary
        .card-header
          h3.card-title Context
        .card-body.small.monospace
          | log("Any message");
          br
          br
          | createInterval("Alias", 10 * 1000, () => { });
          br
          | createTimeout("Alias", 60 * 000, () => { });
          br
          br
          | now.(y | m | d | H | M | S | dow | time | HHMM)
          br
          br
          | (dawn|sunrise|sunset|dusk)
          br
          | .[addMinutes(+/-m)]
          br
          | .(date | H | M | HHMM)

      .card.card-outline.card-primary
        .card-header
          h3.card-title Devices
        .card-body.small.monospace
          each devicename in devicenames
            = devicename.Name
            br

      .card.card-outline.card-primary
        .card-header
          h3.card-title Events
        .card-body.small.monospace
          | device.on("online", ("on") => { });
          br
          | device.on("event", ("button", "short") => { })
          br
          | device.on("event.button", ("short") => { })
          br
          | device.on("event.move", ("start") => { })
          br
          | device.on("stat", ("power", "ob") => { })
          br
          | device.on("stat.power", ("on") => { })
          br
          | device.on("tele", ("humidity", 12) => { })
          br
          | device.on("tele.humidity", (12) => { })

      .card.card-outline.card-primary
        .card-header
          h3.card-title Commands
        .card-body.small.monospace
          | device.cmd("power1", "on");
          br
          | device.ack("high");
          br
          | device.stat("power") returns "on";
          br
          | device.tele("humidity") returns 12;
          br
          | device.teleAvg("humidity") returns 12.43;

  script(type='text/javascript').
    function savecode()
    {
      var code = $('#codeeditor').val();
      $.post('/settings/rulecode/update', { rulecode: code })
       .done(function()
       {
         setTimeout(() => pagereload(), 100);
       })
       .fail(function(response)
       {
         toastr.error(response.responseText);
       });
    }
    