extends _base

block content
  .row

    if HasPermission('Users')
      .col-md-4
        .small-box.bg-info
          .inner
            h3
              | System settings
            p Global configuration variables
            .d-flex.justify-content-center
              .btn-group
                a.btn.btn-secondary.float-right(href="/settings/settings")
                  i.fas.fa-list-ol
                  |  View and set
          .icon
            i.fas.fa-wrench

    if HasPermission('Users')
      .col-md-4
        .small-box.bg-warning
          .inner
            h3
              if usercount
                = usercount
              else
                | No users
            if usercount
              p Manage users
            else
              p Create first user
            .d-flex.justify-content-center
              .btn-group
                button.btn.btn-success.float-right
                  i.fas.fa-plus
                  |  Add new
                a.btn.btn-secondary.float-right(href="/settings/users")
                  i.fas.fa-list-ol
                  |  View all
          .icon
            i.fas.fa-user

    if HasPermission('RuleCode')
      .col-md-4
        div(class=runerror ? 'small-box bg-danger' : 'small-box bg-info')
          .inner
            h3
              if (runerror)
                | Error 
                i.fa.fa-exclamation-triangle
              else
                | OK 
                i.fa.fa-check
            p
              if (runerror)
                = runerror
              else
                | Event processor works fine
            .d-flex.justify-content-center
              a.btn.btn-secondary.float-right(href="/settings/rulecode")
                i.fa.fa-code
                |  Edit rules
          .icon
            i.fas.fa-play-circle

    if HasPermission('Restart')
      .col-md-4
        .small-box.bg-danger#restartbox
          .inner
            h3 Restart
            p Quit + reload system core and settings
            .d-flex.justify-content-center
              .btn-group
                button.btn.btn-secondary(onclick="restart()")
                  i.fas.fa-times
                  |  Restart now
          .icon
            i.fas.fa-window-close

  script(type='text/javascript').
    function restart()
    {
      $.post('/settings/restart')
       .done(function()
       {
         $('#restartbox').prepend("<div class='overlay'><i class='fas fa-3x fa-sync-alt fa-spin'></i></div>");
         setTimeout(() => pagereload(), 5000);
       })
       .fail(function(response)
       {
         toastr.error(response.responseText);
       });
    }
    