.small-box.bg-info#smart32
  if !IsOnline
    .overlay
  .inner
    p #{DisplayName}
    if PowerStatus
      button.btn.btn-success(onclick="$.post('/" + Name + "/power/toggle');")
        h3 ON
    else
      button.btn.btn-default(onclick="$.post('/" + Name + "/power/toggle');")
        h3 OFF
  .icon
    i.fa.fa-lightbulb
  a.small-box-footer.text-right(href="/" + Name)
    | Details ...&nbsp;&nbsp;
