.col-12.col-sm-12.col-md-6.col-xl-4(id=device.Name)
  .info-box
    span.info-box-icon.bg-info.elevation-1(style="background-color:#" + device.Color + "!important;width:110px")
      small
        i.fas.fa-thermometer-full
      span.badge.badge-default
        = device.tele('temperature')
        small 
          = device.metric('temperature')
    | &nbsp;&nbsp;
    span.info-box-icon.bg-info.elevation-1(style="background-color:#" + device.Color + "!important;width:110px")
      small
        i.fas.fa-sun
      span.badge.badge-default
        = device.tele('luminance')
        small 
          = device.metric('luminance')
    .info-box-content
      span.info-box-number
        a.black(href="/device/" + device.Name)
          = device.DisplayName
      span.info-box-text
        small
          a.black(href="/device/" + device.Name)
            = device.LocationName
        if device.GetNextOp('power')
          span.badge.badge-default.float-right
            = device.GetNextOp('power')
