.col-12.col-sm-12.col-md-6.col-xl-4(id=device.Name)
  .info-box
    span.info-box-icon.bg-info.elevation-1(style="background-color:#" + device.Color + "!important;width:110px;cursor: pointer", onclick="$.post('/device/" + device.Name + "/power/toggle');")
      small
        i.fas.fa-lightbulb
      span.badge.badge-default
        = (device.stat('power') || "?").toUpperCase()
    .info-box-content
      span.info-box-number
        a.black(href="/device/" + device.Name)
          = device.DisplayName
      span.info-box-text
        small
          a.black(href="/device/" + device.Name)
            = device.LocationName
        if device.GetNextOp('power')
          span.badge.badge-info.float-right
            = device.GetNextOp('power')
