.col-12.col-sm-12.col-md-6.col-xl-4
  .info-box
    span.info-box-icon.bg-info.elevation-1(style="background-color:#" + device.Color + "!important;width:110px;cursor: pointer", onclick="$.post('/device/" + device.Name + "/power1/toggle');")
      small
        i.fas.fa-lightbulb
      span.badge.badge-default
        = (device.stat('power1') || "?").toUpperCase()
    | &nbsp;&nbsp;
    span.info-box-icon.bg-info.elevation-1(style="background-color:#" + device.Color + "!important;width:110px;cursor: pointer", onclick="$.post('/device/" + device.Name + "/power2/toggle');")
      small
        i.fas.fa-lightbulb
      span.badge.badge-default
        = (device.stat('power2') || "?").toUpperCase()
    .info-box-content
      span.info-box-number
          = device.DisplayName
      span.info-box-text
        small
          = device.LocationName
        if device.GetNextOp('power1') || device.GetNextOp('power2')
          span.badge.badge-info.float-right
            = device.GetNextOp('power1')
            br
            = device.GetNextOp('power2')
