extends ../_baseplatform

block command
  center
    button.btn.btn-default(onclick="sendrfcode()")
      i.fa.fa-podcast
      | 
      | Send custom RF code

block script
  script(type='text/javascript').
    function sendrfcode()
    {
      Swal.fire({
        title: 'Send custom RF code',
        input: 'text',
        inputPlaceholder: 'Type RF code 0x??????#24',
        showCancelButton: true,
      })
      .then((result) => {
        if (result.value) {
          $.post(`/platform/#{platform.GetCode()}/sendrfcode`, {rfcode: result.value})
            .done(function(data) {
              divreload('settingpanel');
            })
            .fail(function(error) {
              Swal.fire(
                'Error occured',
                error.responseText,
                'error'
              )            
            });
        }
      })
    }
